%div#publisher
%div#subscribers
:javascript
  var session = TB.initSession(sessionId);
  var publisher = TB.initPublisher(apiKey, 'publisher');
  session.on({
    sessionConnected: function(event) {
      session.publish(publisher);
    },

    streamCreated: function(event) {
      var subContainer = document.createElement('div');
      subContainer.id = 'stream-' + event.stream.streamId;
      document.getElementById('subscribers').appendChild(subContainer);
      session.subscribe(event.stream, subContainer);
    }

  });
  session.connect(apiKey, token);
